<ion-header>
  <ion-toolbar>
    <ion-title>
      Homework 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    This app was made by Bryce Allen for cs262 HW2.
    <p></p>
    <p></p>
    <button ion-button (click)="set('name','Bryce')">Set userName</button>
    <button ion-button (click)="remove('name')">Remove name Setting</button>
  </div>

<!--
</ion-content>
<ion-content padding>
  <button ion-button (click)="set('color','blue')">Set Color To Blue</button>
  <button ion-button (click)="remove('color')">Remove Color Setting</button>
</ion-content>
    <ion-label position="floating">userName:</ion-label>
    <ion-input [(ngModel)]="userName" inputmode="numeric" ></ion-input>
-->